//COLORS
$primary-color: #fe5a50;
$main-background-color: #ffffff;
$border-color: #e5e5e5;
$link-button-color: #494949;
//FONT
$base-font-family: 'Montserrat', sans-serif !important;
$base-font-size: 18px;
$text-color: #585b60;
$heading-text-color: #212322;

//OTHER
$max-screen-width: 1920px;
$animation-duration: 0.3s;
