.red-block {
  margin: 7.5rem auto 0 auto;
  max-width: $max-screen-width;
  width: 100%;
  &__content {
    background-color: #fe5a50;
    border-radius: 22px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    padding: 3% 3% 5%;
  }
  margin-bottom: 1%;

  &-header {
    font-size: 4.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;

    @media (max-width: 992px) {
      font-size: 3rem;
    }
  }

  &-text {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.9px;
    margin-top: 1.6rem;
    margin-bottom: 2rem;
    @media (max-width: 992px) {
      font-size: 1.6rem;
    }
  }

  .btn-block {
    text-align: center;
    margin-top: 6rem;
    a {
      background-color: #f1f1f1 !important;
      text-transform: uppercase;
      border-radius: 10px !important;
      padding: 1.6rem 6rem !important;
      color: #585b60 !important;
      font-size: 1.4rem !important;
      font-weight: 800 !important;
      text-transform: uppercase;
    }
  }
}
