@import '../abstracts/variables';

.trust-safety-block {
    border: 1px solid black;
    max-width: $max-screen-width;
    margin: 0 auto;
    .trust-safety-block-heading {
        margin-top: 5.6rem;
        h1 {
            font-size: 4.8rem;
            font-weight: 600;
            color: #212322;
        }
        p {
            margin-top: 1.5rem;
            font-size: 2rem;
            color: #585B60;
        }
    }
    .trust-safety-block-content {
        width: 80%;
        margin: 0 auto;
        &-first-item {
            margin-top: 6.7rem;
        }
    }
}